
<div *ngIf="auth.splashscreen" class="w-full h-screen bg-gradient-to-b from-blue-600 to-blue-400 fixed z-50 flex-col flex justify-center items-center ">
    <h1 class="text-[60px] text-white font-bold ">Tasks</h1>
    <div class="spinner ">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
        <div class="rect6"></div>
      </div>
</div>

    <router-outlet></router-outlet>
